version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: crud-sample-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: sps-crud
    volumes:
      - mongodb_data:/data/db
    networks:
      - crud-network

networks:
  crud-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
